/.idea
.iml
/bfv-notice-bot/bfv-notice-bot.aps
/bfv-notice-bot/bfv-notice-bot.sln
/bfv-notice-bot/bfv-notice-bot.vcxproj
/bfv-notice-bot/bfv-notice-bot.vcxproj.filters
/bfv-notice-bot/bfv-notice-bot.vcxproj.user
/bfv-notice-bot/.vs/
/bfv-notice-bot/x64/
/bfv-notice-bot/bfv-notice-bot.json
